* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-image: url("./sources/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-app {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 3%;
}

.logo-app img {
  width: 12%;
}

.translate-container {
  flex-grow: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #414756;
  border-radius: 5%;
  justify-content: center;
}

.colorA {
  background-color: #212936cc;
}

.colorB {
  background-color: #121826cc;
}

.options {
  display: flex;
  gap: 5%;
  width: 90%;
  background: none;
  padding-top: 5%;
  padding-bottom: 3%;
  border-bottom: 1px solid #414756;
}

.languages {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.languages button:hover {
  background: #4d5562;
  border-radius: 8%;
  color: #fff;
}

textarea:focus {
  outline: none;
}

.languages button.active {
  background: #4d5562;
  height: 5vh;
  color: #fff;
  border-radius: 10px;
}

.languages button {
  background: none;
  height: 5vh;
  border: none;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.intercambiate button {
  background: none;
  height: 5vh;
  border: 1px solid #414756;
  border-radius: 40%;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.contador {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  font-size: 12px;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
}

.traduction {
  width: 90%;
  height: 50%;
  padding-top: 3%;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.traduction textarea {
  width: 100%;
  background-color: initial;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  border: initial;
  resize: initial;
}

.more-options {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 2%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.more-options button {
  background: none;
  height: 5vh;
  border: 1px solid #414756;
  border-radius: 40%;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.options-down {
  display: flex;
  width: 90%;
  background: none;
  padding-bottom: 3%;
}

.options-group {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.options-group button {
  background: none;
  height: 5vh;
  border: 1px solid #414756;
  border-radius: 40%;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.translate-btn {
  padding-top: 2%;
  width: 35%;
}

.translate-btn p {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.translate-btn button {
  background: #3662e3;
  width: 100%;
  height: 6vh;
  border: 1px solid #7ca9f3;
  border-radius: 8%;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .translate-container {
    grid-template-columns: 1fr;
  }
}
