* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-image: url("./sources/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-app {
  display: flex;
  border: 1px solid blue;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 8%;
  justify-content: center;
}

.logo-app img {
  width: 12%;
}

.translate-container {
  flex-grow: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  border: 1px solid green;
}

.box {
  display: flex;
  align-items: start;
  background: #232637;
  border: 1px solid #414756;
  border-radius: 5%;
  justify-content: center;
}

.languages {
  width: 90%;
  display: flex;
  gap: 2%;
  border-bottom: 1px solid #414756;
  padding-top: 5%;
  padding-bottom: 3%;
}

.languages button {
  background: none;
  height: 5vh;
  border: none;
  color: #4d5562;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.languages button.active {
  background: #4d5562;
  height: 5vh;
  color: #fff;
  border-radius: 10px;
}

.languages button:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .translate-container {
    grid-template-columns: 1fr;
  }
}
